{% extends "base_unauth.html" %}
{% block content %}

<div class="card">
    <div class="card-header text-secondary" style="min-width:350px">
      Login to Your Account
    </div>
    <div class="card-body">
        <form method="POST">
            {{ form.hidden_tag()}}
            <div class="form-group">
              <strong>
                {{ form.username.label(class="text-secondary") }}
              </strong>
              {{ form.username(class="form-control") }}
              <small></small>
            </div>
            <div class="form-group">
              <strong>
                {{ form.password.label(class="text-secondary")}}
              </strong>
              {{ form.password(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
          </form>
    </div>
  </div>

{% endblock %}