{% extends "base_auth.html" %}

{% block content %}

<div class="text-center">
    <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Edit your profile</h2> </br></br></br>
</div>

<div class="container w-50 p-3">
    <div class="card">
        <div class="card-body">
            <form method="POST">
                    {{ form.hidden_tag()}}
                    <div class="form-group text-left">
                    <strong>
                        {{ form.username.label(class="text-secondary") }}
                    </strong>
                    {{ form.username(readonly=true, class="form-control") }}
                    <small></small>
                    </div>
                    <div class="form-group text-left">
                        <strong>
                        {{ form.first_name.label(class="text-secondary")}}
                        </strong>
                        {{ form.first_name(class="form-control") }}
                    </div>
                    <div class="form-group text-left">
                        <strong>
                        {{ form.last_name.label(class="text-secondary")}}
                        </strong>
                        {{ form.last_name(class="form-control") }}
                    </div>
                    <div class="form-group text-left">
                        <strong>
                        {{ form.address.label(class="text-secondary")}}
                        </strong>
                        {{ form.address(class="form-control") }}
                    </div>
                    <div class="form-group text-left">
                        <strong>
                        {{ form.occupation.label(class="text-secondary")}}
                        </strong>
                        {{ form.occupation(class="form-control") }}
                    </div>
                    <div class="form-group text-left">
                        <strong>
                        {{ form.loan_product.label(class="text-secondary")}}
                        </strong>
                        {{ form.loan_product(readonly=true, class="form-control") }}
                    </div>
                    <div class="form-group text-left">
                        <strong>
                        {{ form.starting_loan_balance.label(class="text-secondary")}}
                        </strong>
                        {{ form.starting_loan_balance(readonly=true, class="form-control") }}
                    </div>
                    <div class="form-group text-left ">
                        <strong>
                        {{ form.current_loan_balance.label(class="text-secondary")}}
                        </strong>
                        {{ form.current_loan_balance(readonly=true, class="form-control") }}
                    </div>
                    {{ form.submit(class="btn btn-primary") }}
              </form>
        </div>
      </div>
</div>
{% endblock %}